<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>Error</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="static/assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="static/assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="static/assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="static/assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="static/assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="static/assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="static/assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->





        
    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="{{ url_for('index') }}">
									<img src="static/assets/images/welcome-hero/3.png" alt="Leisure Compass Logo" class="logo">Leisure Compass<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li class=" scroll active"><a href="#home">Home</a></li>
				                    <li class="scroll"><a href="#">Contents</a></li>
				                    <li class="scroll"><a href="#contact">contact us</a></li>
									<li class="scroll"><a href="{{ url_for('error') }}">error</a></li>
									
									
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Left side with image -->
                            <img src="static/assets/images/Error/Error.png" alt="Error Image" class="img-fluid"style="margin-top: 100px;">
                        </div>
                        <div class="col-md-6">
                            <!-- Right side with error message and fixes -->
                            <div text-align: left; style="margin-top: 150px;">
                                <h2>We apologize, but it seems that an error has occurred while processing your request.</h2>
                                <br>
                                <p style="color: white;">Here are some steps you can take to resolve the issue:</p>
                                <ul class="custom-list" style="color: white;">
                                    <li>Check your internet connection and try reloading the page.</li>
                                    <li>Make sure you complete the personality questionnaire.</li>
                                    <li>Make sure you enable the web camera access.</li>
                                    <li>If the problem persists, please contact the support team for further assistance.</li>
                                </ul>
                                <p style="color: white;">You can also <a href="/" style="color: inherit; font-size: inherit; text-transform: lowercase; text-decoration: underline;">return to the home page</a> and try again.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
	
		</section><!--/.service-->
		<!--service end-->

		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<img src="static/assets/images/welcome-hero/3.png" alt="Leisure Compass Logo" class="logo">
									<a href="templates/index.html">Leisure Compass</a>
								</div>
								<p>
									Content suggesting system based on user's current mood and personality
								</p>
								<div class="footer-contact">
									<a href="mailto:avishkabs@sltc.ac.lk"><p>avishkabs@sltc.ac.lk</p></a><br>
									<a href="mailto:damindup@sltc.ac.lk"><p>damindup@sltc.ac.lk</p></a>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
							<h2>Powered by:</h2>
							<p><img src="static/assets/images/footer/1280px-Tmdb.new.logo.svg.png" alt="TMDB Logo" style="width:150px;height:100px;"></p>
							<p><img src="static/assets/images/footer/PikPng.com_run-dmc-png_5240809.png" alt="AWS Logo"style="width:170px;height:100px;"></p>
						</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>Final Year Project</h2>
								<img src="static/assets/images/footer/SLTC_Research_University_Logo.png" alt="Leisure Compass Logo" >
								SLTC Research University<br>
								Ingiriya Road, Padukka<br>
								Phone: 0112 100 500<br>
								<a href="https://www.sltc.ac.lk"><p>www.sltc.ac.lk </p></a>
								
								


							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; 2024 Leisure Compass. All rights reserved..
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							&nbsp; Avishka Bandarathilaka &nbsp;
							<a href="https://www.linkedin.com/in/as-bandarathilaka/" class="social-icon"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/AvishkaBS" class="social-icon"><i class="fa fa-github"></i></a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp; Damindu Pahasara &nbsp;
							<a href="https://www.linkedin.com/in/mkdpahasara/" class="social-icon"><i class="fa fa-linkedin"></i></a>
							<a href="https://github.com/MKDpahasara" class="social-icon"><i class="fa fa-github"></i></a>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="/static/assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="/static/assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="/static/assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="/static/assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="/static/assets/js/custom.js"></script>
        
    </body>
	
</html>